In [1]:
## Read Excel File
import pandas as pd

In [2]:
##pd.read_excel('filename.xlsx')
df=pd.read_excel('stu.xlsx')
df

   index  name
0      0   Raj
1      1  Ajay
2      2  Rani

In [3]:
##kisi excel file me se particular sheet ko read karna ho to
df1=pd.read_excel('stu.xlsx',sheet_name='python_stu')
df1

   index    name
0      0  Mudita
1      1   Disha
2      2  Anjali
3      3   Megha