In [4]:
!pip install mysql.connector
import mysql.connector
import pandas as pd
import mysql.connector
conn=mysql.connector.connect(host='localhost',user='root',password='Chetan@123',database='join_ex')
df=pd.read_sql_query("SELECT * FROM amount",conn)
df

C:\Users\hp\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   AmountID Amount PersonID
0         1   1000        1