In [1]:
import pandas as pd

In [7]:
#read text file
df=pd.read_csv('student_name.txt',sep=',')

   index    name  age
0      0   Disha   32
1      1  Mudita   33
2      2    Rani   34